<!DOCTYPE html>
<html>
	<head>
		<title>Team Colony</title>
	</head>
	<body>
		<div>Specification By Example</div>
		<div>
			<table border="1" width="100%">
				<tr>
					<th>Chapter</th>
					<th>Estimation</th>
					<th>Translate</th>
					<th>Finish</th>
					<th>Review 1</th>
					<th>Finish</th>
					<th>Review 2</th>
					<th>Finish</th>
				</tr>
				{{#tasks}}
					<tr>
						<td>{{name}}</td>
						<td>{{estimation}}</td>
						<td>{{translator}}</td>
						<td>{{translateFinish}}</td>
						<td>{{reviewer1}}</td>
						<td>{{review1Finish}}</td>
						<td>{{reviewer2}}</td>
						<td>{{review2Finish}}</td>
					</tr>
				{{/tasks}}
			</table>
		</div>
	</body>
</html>
